@font-face {
    font-family: 'RWBa';
    src: url(../fonts/Raleway-Black.ttf);
}

@font-face {
    font-family: 'RWBo';
    src: url(../fonts/Raleway-Bold.ttf);
}

@font-face {
    font-family: 'RWR';
    src: url(../fonts/Raleway-Regular.ttf);
}

@font-face {
    font-family: 'RWT';
    src: url(../fonts/Raleway-Thin.ttf);
}

@font-face {
    font-family: 'RB';
    src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: 'RR';
    src: url(../fonts/Roboto-Regular.ttf);
}